# -*- coding: utf-8 -*-
# vim: ft=jinja

{## Start with defaults from defaults.yaml ##}
{% import_yaml 'mysql_exporter/defaults.yaml' as defaults %}

{## Add any overrides based on CPU architecture. ##}
{% set defaults = salt['grains.filter_by']({
        'armv6l': {
            "arch": 'arm'
        },
        'armv7l': {
            "arch": 'arm'
        },
        'x86_64': {
            "arch": 'amd64'
        }
  }
  , grain="cpuarch"
  , default="x86_64"
  , merge=defaults.mysql_exporter)
%}

{## Merge user configuration from in mysql_exporter:* pillar ##}
{% set mysql_exporter = salt['pillar.get']('mysql_exporter', default=defaults, merge=True) %}
